{%- comment -%}
  Include as: {%- include components/children_nav.html -%}
  Depends on: page, site, nav_breadcrumbs.
  Results in: HTML for the children-navigation component.
  Includes: components/nav/sorted.html, toc_heading_custom.html.
  Overwrites:
    nav_ancestor_links, nav_top_node_titles, nav_child_candidates, nav_children,
    nav_child, nav_child_ok, nav_child_ancestor, nav_sorted.
{%- endcomment -%}

{%- comment -%}
  Whether a page has any children is checked efficiently by inspecting the cached
  site_nav. If the page has no children, nav_children is set to an empty array;
  otherwise nav_children is left unset. (The site_nav is rendered the first time
  it is included, and that may overwrite various variables.)
{%- endcomment -%}

{%- if page.has_children == false -%}
  {%- assign nav_children = "" | split: "" -%}
{%- else -%}

  {%- capture site_nav -%}
  {%- include_cached components/site_nav.html all=true -%}
  {%- endcapture -%}

  {%- assign nav_children = nil -%}

  {%- capture nav_list_link -%}
  <a href="{{ page.url | relative_url }}" class="nav-list-link">
  {%- endcapture -%}

  {%- capture nav_list_simple -%}
  <ul class="nav-list">
  {%- endcapture -%}

  {%- assign nav_child_start = site_nav
        | split: nav_list_link | last
        | split: "</a>" | slice: 1 | first -%}

  {%- assign nav_child_test = nav_child_start 
        | remove_first: nav_list_simple | prepend: nav_list_simple -%}
    
  {%- if nav_child_start != nav_child_test -%}
    {%- assign nav_children = "" | split: "" -%}
  {%- endif -%}

{%- endif -%}

{%- unless nav_children -%}

  {%- comment -%}
    The layout is assumed to include components/breadcrumbs.html before this file,
    otherwise it needs to be included here.
  {%- endcomment -%}

  {%- assign nav_ancestors = "" | split: "" -%}
  {%- for nav_link in nav_breadcrumbs -%}
    {%- assign nav_title = nav_link | split: ">" | slice: 1 | first | append: ">" | remove: "</a>" -%}
    {%- assign nav_ancestors = nav_ancestors | push: nav_title -%}
  {%- endfor -%}

  {%- assign nav_parenthood = site[page.collection] | default: site.html_pages
    | where_exp: "item", "item.title != nil" | group_by: "parent" -%}

  {%- assign nav_top_nodes = nav_parenthood
      | where_exp: "item", "item.name == ''" | map: "items" | first -%}

  {% assign nav_top_node_titles = nav_top_nodes | map: "title" -%}

  {%- include components/nav/children.html node=page ancestors=nav_ancestors all=true -%}

{%- endunless -%}

{%- if nav_children.size >= 1 -%}

  {%- if page.child_nav_order == 'desc' or page.child_nav_order == 'reversed' -%}
    {%- assign nav_children = nav_children | reverse -%}
  {%- endif -%}

<hr>
{% include hyplayer_toc_heading_custom.html %}
<ol>
  {% for nav_child in nav_children %}
  <li>
    <a href="{{ nav_child.url | relative_url }}" style="font-weight: bold;">{{ nav_child.title }}</a>
    {%- if nav_child.notationType -%}
      <span class="label" style="vertical-align: bottom !important; margin-right: 0 !important; background-color: lightgoldenrodyellow; color: black; border-color: gray; border-width: 0.5px !important; border-style: solid;">
        {{ nav_child.notationType }}
      </span>
    {%- endif -%}
    {%- if nav_child.work_type -%}
      {% if nav_child.work_type contains 'Salinan' or nav_child.work_type contains 'Transkripsi' %}
        {%- assign label_class = 'label label-yellow' -%}
      {% elsif nav_child.work_type contains 'Aransemen' %}
        {%- assign label_class = 'label label-green' -%}
      {% elsif nav_child.work_type contains 'Komposisi' %}
        {%- assign label_class = 'label label-purple' -%}
      {% endif %}
      <span class="{{ label_class }}" style="vertical-align: bottom !important; font-weight: bold; border-color: rgb(90, 90, 90); border-width: 0.5px !important; border-style: solid;">{{ nav_child.work_type }}</span>
    {%- endif -%}<br>
    <blockquote style="line-height: 1.3 !important;">
      {%- if nav_child.composer_and_arranger_and_lyricist -%}
        <span class="fs-3">Lagu, syair, dan aransemen: {{ nav_child.composer_and_arranger_and_lyricist }}</span>
      {%- elsif nav_child.composer_and_arranger -%}
        <span class="fs-3">Lagu dan aransemen: {{ nav_child.composer_and_arranger }}</span>
      {%- elsif nav_child.composer_and_lyricist -%}
        <span class="fs-3">Lagu dan syair: {{ nav_child.composer_and_lyricist }}</span>
      {%- else -%}
        <span class="fs-3">Lagu: {{ nav_child.composer }}</span>
      {%- endif -%}
      {%- if nav_child.lyricist -%}
        &nbsp;|&nbsp;<span class="fs-3">Syair: {{ nav_child.lyricist }}</span>
      {%- endif -%} 
      {%- if nav_child.arranger_and_lyricist -%}
        &nbsp;|&nbsp;<span class="fs-3">Syair dan aransemen: {{ nav_child.arranger_and_lyricist }}</span>
      {%- elsif nav_child.arranger -%}
        &nbsp;|&nbsp;<span class="fs-3">Aransemen: {{ nav_child.arranger }}</span>
      {%- endif -%}
      {%- if nav_child.additionalInfo -%}
        <br><span class="fs-3">{{ nav_child.additionalInfo }}</span>
      {%- endif -%}
      {%- if nav_child.youtubeURL -%}
        <br><span class="fs-3">Youtube: <a href="{{ nav_child.youtubeURL }}" class="text-decoration-none" style="color: red !important;" target="_blank" rel="noopener noreferrer">{{ nav_child.composer }} - {{ nav_child.titleOnly | upcase }}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
</svg></a></span>
      {%- endif -%}
    </blockquote>
  </li>
  {% endfor %}
</ol>

{%- endif -%}
